.btn-success.create-new-button {
    padding: 9px 25px;
}

textarea#lyrics {
    height: 200px; /* Sesuaikan tinggi sesuai kebutuhan */
    resize: vertical; /* Memungkinkan pengguna untuk menarik textarea secara vertikal */
}
