.btn-success.create-new-button {
    padding: 9px 25px;
}

textarea#lyrics {
    height: 200px; /* Sesuaikan tinggi sesuai kebutuhan */
    resize: vertical; /* Memungkinkan pengguna untuk menarik textarea secara vertikal */
}

.music-player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0f1015;
    border-top: 1px solid #d39e00;
    padding: 10px;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.audio-controls {
    display: flex;
    align-items: center;
}

.time-elapsed {
    margin-left: 10px;
}

.progress-bar-container {
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    margin-top: 5px;
}

.progress-bar {
    height: 100%;
    background-color: #ffbf00;
}

.music-player.show {
    display: flex;
}
